# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# generated directory
**/generated

# output directory
/out

# solution directory
/sln

# Build outputs
bin/
obj/

# NuGet packages
*.nupkg

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local

# Solution packager temp files
*.zip